body {
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
    width: 500px;
    margin: 125px 200px 125px 200px;
}

p,
ol {
    font-size: small;
}

footer {
    font-size: small;
}

a {
    color: #f5b85f;
    text-decoration: none;
}

.link--attribute {
    color: dodgerblue;
}

ol {
    line-height: 250%;
}